nav {
  position: fixed;
  background: rgb(0, 0, 0, 0.2);
  padding: 0px 20px;
  z-index: 1; /*Add this*/
  display: block;
}

.displaynone {
  display: none;
}
h4 {
  margin: 0;
  padding: 0;
}

.portfolio-backgroundtext {
  color: white;
  transform: translateY(20em);
  letter-spacing: 20px;
  font-weight: bolder;
}

ul#menu li {
  display: inline;
  padding: 20px;
}

.homePageContent {
  transform: translateY(20em);
  text-transform: uppercase;
  color: white;
  letter-spacing: 20px;
  font-weight: bolder;
}

.background,
.portfolio-body {
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: block;
}

.background {
  background-image: url("../images/Bridals/image14.jpg");
}

.portfolio-body {
  background-image: url("../images/testimage2.jpg");
}

nav li a:hover {
  background-color: grey;
}

.page-footer {
  background-color: black;
}

.portfolio-images {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

.portfolio-images .box {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  break-inside: avoid;
}
.portfolio-images .box img {
  max-width: 100%;
}
nav .brand-logo {
  font-size: 1.5rem;
}

.portfoliobody {
  background-color: #f5f5f5;
}

/* Style the Image Used to Trigger the Modal */
.myImg,
.photoshootimage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover,
.photoshootimage:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal,
.photoshoot-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  max-height: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  background-size: cover;
}

/* Modal Content (Image) */
.modal-content,
.photoshoot-modal-content {
  margin: auto;
  display: block;
  max-height: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
.photoshoot-modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#img9 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.photoshoots-container {
  display: none;
}

.bridal-container {
  display: none;
}
